<h1>Make your form here</h1>
  <form method="POST" action='/pirates'>
    <label><input type="text" name="pirate[name]"></label>
    <label><input type="text" name="pirate[weight]"></label>
    <label><input type="text" name="pirate[height]"></label>
    <label><input type="text" name="pirate[ship][][name]"></label>
    <label><input type="text" name="pirate[ship][][type]"></label>
    <label><input type="text" name="pirate[ship][][booty]"></label>
    <label><input type="text" name="pirate[ship][][name]"></label>
    <label><input type="text" name="pirate[ship][][type]"></label>
    <label><input type="text" name="pirate[ship][][booty]"></label>
    <label><input type="submit">
  </form>
