<h1>Make your form here</h1>
  <form method="POST" action='/pirates'>
    <label><input type="text" name="pirate[name]"></label>
    <label><input type="text" name="pirate[weight]"></label>
    <label><input type="text" name="pirate[height]"></label>
    <label><input type="text" name="pirate[ships][][name]"></label>
    <label><input type="text" name="pirate[ships][][type]"></label>
    <label><input type="text" name="pirate[ships][][booty]"></label>
    <label><input type="text" name="pirate[ships][][name]"></label>
    <label><input type="text" name="pirate[ships][][type]"></label>
    <label><input type="text" name="pirate[ships][][booty]"></label>
    <input type="submit" id="Submit">
  </form>
